<a href="https://colab.research.google.com/github/Mani512996/pocs/blob/main/epl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

In [2]:
df = pd.read_csv('arsenal.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Playing Time,Playing Time.1,Playing Time.2,Performance,Performance.1,...,Expected.1,Expected.2,Expected.3,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,Unnamed: 29,-additional
0,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,npxG,xAG,npxG+xAG,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,-9999
1,Gabriel Dos Santos,br BRA,DF,25-003,14,14,1260,14,2,0,...,2.3,0.2,2.4,0.16,0.01,0.17,0.16,0.17,Matches,67ac5bb8
2,Aaron Ramsdale,eng ENG,GK,24-222,14,14,1260,14,0,0,...,0,0,0,0,0,0,0,0,Matches,466fb2c5
3,William Saliba,fr FRA,DF,21-273,14,14,1245,13.8,2,1,...,0.3,0.9,1.2,0.02,0.06,0.09,0.02,0.09,Matches,972aeb2a
4,Gabriel Jesus,br BRA,FW,25-263,14,14,1219,13.5,5,5,...,7.7,2.8,10.6,0.57,0.21,0.78,0.57,0.78,Matches,b66315ae

In [4]:
df.describe()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Playing Time,Playing Time.1,Playing Time.2,Performance,Performance.1,...,Expected.1,Expected.2,Expected.3,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,Unnamed: 29,-additional
count,31,29,29,31,31,31,26,26,26,26,...,26,26,26,26,26,26,26,26,29,31
unique,31,16,7,31,13,11,22,21,10,9,...,15,16,19,15,20,20,15,20,1,29
top,Player,eng ENG,DF,Age,14,0,1260,14,0,0,...,0,0,0,0,0,0,0,0,Matches,-9999
freq,1,10,9,1,10,12,4,4,13,13,...,7,7,7,7,6,6,7,6,29,3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        31 non-null     object
 1   Unnamed: 1        29 non-null     object
 2   Unnamed: 2        29 non-null     object
 3   Unnamed: 3        31 non-null     object
 4   Unnamed: 4        31 non-null     object
 5   Playing Time      31 non-null     object
 6   Playing Time.1    26 non-null     object
 7   Playing Time.2    26 non-null     object
 8   Performance       26 non-null     object
 9   Performance.1     26 non-null     object
 10  Performance.2     26 non-null     object
 11  Performance.3     26 non-null     object
 12  Performance.4     26 non-null     object
 13  Performance.5     26 non-null     object
 14  Performance.6     26 non-null     object
 15  Per 90 Minutes    26 non-null     object
 16  Per 90 Minutes.1  26 non-null     object
 17  Per 90 Minutes.2  26 non-null     object
 18  Per 90 Minutes.3  26 non-null     object
 19  Per 90 Minutes.4  26 non-null     object
 20  Expected          26 non-null     object
 21  Expected.1        26 non-null     object
 22  Expected.2        26 non-null     object
 23  Expected.3        26 non-null     object
 24  Per 90 Minutes.5  26 non-null     object
 25  Per 90 Minutes.6  26 non-null     object
 26  Per 90 Minutes.7  26 non-null     object
 27  Per 90 Minutes.8  26 non-null     object
 28  Per 90 Minutes.9  26 non-null     object
 29  Unnamed: 29       29 non-null     object
 30  -additional       31 non-null     object
dtypes: object(31)
memory usage: 7.6+ KB

In [8]:
df1 = df.isnull().sum()

In [9]:
df1

Unnamed: 0          0
Unnamed: 1          2
Unnamed: 2          2
Unnamed: 3          0
Unnamed: 4          0
Playing Time        0
Playing Time.1      5
Playing Time.2      5
Performance         5
Performance.1       5
Performance.2       5
Performance.3       5
Performance.4       5
Performance.5       5
Performance.6       5
Per 90 Minutes      5
Per 90 Minutes.1    5
Per 90 Minutes.2    5
Per 90 Minutes.3    5
Per 90 Minutes.4    5
Expected            5
Expected.1          5
Expected.2          5
Expected.3          5
Per 90 Minutes.5    5
Per 90 Minutes.6    5
Per 90 Minutes.7    5
Per 90 Minutes.8    5
Per 90 Minutes.9    5
Unnamed: 29         2
-additional         0
dtype: int64

In [ ]:
df.p